[MESSAGES CONTROL]
disable=
  anomalous-backslash-in-string,
  bad-continuation,
  bad-indentation,
  bad-whitespace,
  broad-except,
  deprecated-method,
  duplicate-code,
  eval-used,
  fixme,
  global-statement,
  import-error,
  inconsistent-return-statements,
  invalid-name,
  len-as-condition,
  line-too-long,
  logging-format-interpolation,
  missing-docstring,
  missing-final-newline,
  multiple-statements,
  no-else-return,
  no-self-use,
  no-value-for-parameter,
  protected-access,
  redefined-builtin,
  redefined-outer-name,
  singleton-comparison,
  superfluous-parens,
  syntax-error,
  too-few-public-methods,
  too-many-arguments,
  too-many-boolean-expressions,
  too-many-branches,
  too-many-format-args,
  too-many-instance-attributes,
  too-many-locals,
  too-many-return-statements,
  too-many-statements,
  trailing-newlines,
  trailing-whitespace,
  undefined-variable,
  ungrouped-imports,
  unidiomatic-typecheck,
  unnecessary-lambda,
  unused-argument,
  unused-import,
  unused-variable,
  useless-else-on-loop,
  wrong-import-order,
  wrong-import-position,
