aiohttp==1.0.5
async-timeout==1.1.0
beautifulsoup4==4.5.1
BingTranslator==0.1
bs4==0.0.1
chardet==2.3.0
discord.py==0.16.6
future==0.16.0
inflect==0.2.5
jaraco.itertools==2.0
lxml==3.6.4
more-itertools==2.2
multidict==2.1.2
requests==2.11.1
six==1.10.0
urllib3==1.19
websockets==3.2
wolframalpha==3.0
xmltodict==0.10.2
asyncpg==0.10.1
