#!/bin/bash

export ADMIN_USER_IDS="xxxxxxxxxxxxxxxxxx,yyyyyyyyyyyyyyyyyy"
export LEMONBOT_TOKEN="xxxxxxxx"
export DISCORD_CLIENT_ID="xxxxxxxxxxxxxxxxxx"
export DISCORD_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export DISCORD_CALLBACK_URL="http://localhost:3000/login"
export WOLFRAM_ALPHA_APPID="xxxxxxxx"
export OPEN_WEATHER_APPID="xxxxxxxx"
export BING_CLIENTID="xxxxxxxx"
export BING_SECRET="xxxxxxxx"
export OSU_API_KEY="xxxxxxxx"
export STEAM_API_KEY="xxxxxxxx"
export FACEIT_API_KEY="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
export DATABASE_NAME="lemon"
export DATABASE_USERNAME="lemon"
export DATABASE_PASSWORD="lemon"
export REDIS_HOST="localhost"
export REDIS_PORT="6379"
export ERROR_CHANNEL_WEBHOOK="xxxxxxxx"
export WEB_SESSION_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export NOKIA_HEALTH_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export NOKIA_HEALTH_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export NOKIA_HEALTH_CALLBACK_URL="http://localhost:3000/auth/nokia/callback"
