#!/bin/bash

export LEMONBOT_TOKEN="xxxxxxxx"
export WOLFRAM_ALPHA_APPID="xxxxxxxx"
export OPEN_WEATHER_APPID="xxxxxxxx"
export BING_CLIENTID="xxxxxxxx"
export BING_SECRET="xxxxxxxx"
export OSU_API_KEY="xxxxxxxx"
export STEAM_API_KEY="xxxxxxxx"
export DATABASE_NAME="lemon"
export DATABASE_USERNAME="lemon"
export DATABASE_PASSWORD="lemon"
export REDIS_HOST="localhost"
export REDIS_PORT="6379"
export ERROR_CHANNEL_WEBHOOK="xxxxxxxx"
