* {
  box-sizing: border-box;
}

body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

/* Colors and stuff */
h1, h2, h3, h4, h5, h6, thead, a {
  color: #7289da;
  margin: 0;
  padding: 0;
}

.header, .header a {
  color: #E1E7F7;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.header a:hover {
    color: #FFFFFF;
}
/* Header */
.header-wrapper {
  flex: 0 0 auto;
  background-color: #7289da;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header {
  max-width: 900px;
  margin: 0 auto;
}

.header ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.header ul > li {
  padding-left: 10px;
  padding-right: 10px;
}

.header ul > li { float: left; }
.header ul.navigation { float: left; }
.header ul.login { float: right; }

.row {
  width: 100%;
  padding: 10px;
}
/* Content */
.content-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}
.content {
  max-width: 900px;
  margin: 0 auto;
}

/* Disable fixed header on mobile */
@media only screen and (max-width: 1024px) {
  .content-wrapper {
    overflow-y: visible;
  }

  .content {
    max-width: 100%;
    width: 100%;
  }
}
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: E1E7F7;
    text-align: center;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7289da;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: E1E7F7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {color: white;}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Profile */

.profile {
  display: flex;
  flex-flow: row nowrap;
}

.profile-avatar {
  margin: 10px;
  box-shadow: 0px 0px 10px #222;
  flex-grow: 0;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}

.profile-info {
  flex-grow: 1;

  /* Make user info align nicely and evenly */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.profile-discriminator {
  font-size: 0.7rem;
  color: #aaa;
}

/* Tables */
table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

a {
  display: inline-block;
  color: #7289da;
  text-decoration: none;
}

thead {
  font-weight: bold;
}

/* Sorting indicators */
thead tr td.sorted:after { content: '\25B2'; }
thead tr td.sorted.reversed:after { content: '\25BC'; }

tbody {
  font-family: sans-serif;
}

tr {
  height: 35px;
}

td {
  vertical-align: middle;
}

td.rank {
  text-align: center;
  width: 50px;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

tbody tr:hover {
  background-color: #ddd;
}

.whosaiditChoiceButtonBlue {
  background-color: #7289da; /* Green */
  border: 2px solid #FFFFFF; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.whosaiditChoiceButtonBlack {
  background-color: #e9830e; /* Green */
  border: 2px solid #FFFFFF; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.whosaiditChoiceButtonLightBlue {
  background-color: #7289da; /* Green */
  color: red;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input:disabled {
  color: #cecece;
}