[Unit]
Description={{ app_name }}
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
User={{ app_name }}
Group={{ app_name }}
ExecStart=/usr/bin/python3.8 -u /home/{{ app_name }}/src/run_lemon_bot.py
WorkingDirectory=/home/{{ app_name }}
LimitNOFILE=10000
Environment=ADMIN_USER_IDS={{ secrets.admin_user_ids }}
Environment=LEMONBOT_TOKEN={{ secrets.discord_token }}
Environment=DISCORD_BOT_ID={{ secrets.discord_bot_id }}
Environment=DISCORD_CLIENT_ID={{ secrets.discord_client_id }}
Environment=DISCORD_CLIENT_SECRET={{ secrets.discord_client_secret }}
Environment=DISCORD_CALLBACK_URL={{ secrets.discord_callback_url }}
Environment=WOLFRAM_ALPHA_APPID={{ secrets.wolfram_alpha_appid }}
Environment=OPEN_WEATHER_APPID={{ secrets.open_weather_appid }}
Environment=BING_CLIENTID={{ secrets.bing.clientid }}
Environment=BING_SECRET={{ secrets.bing.secret }}
Environment=OSU_API_KEY={{ secrets.osu_api_key }}
Environment=STEAM_API_KEY={{ secrets.steam_api_key }}
Environment=FACEIT_API_KEY={{ secrets.faceit_api_key }}
Environment=DATABASE_NAME={{ secrets.db.dbname }}
Environment=DATABASE_USERNAME={{ secrets.db.username }}
Environment=DATABASE_PASSWORD={{ secrets.db.password }}
Environment=DATABASE_HOST={{ secrets.db.host }}
Environment=DATABASE_PORT={{ secrets.db.port }}
Environment=REDIS_HOST={{ secrets.redis.host }}
Environment=REDIS_PORT={{ secrets.redis.port }}
Environment=WEB_SESSION_SECRET={{ secrets.web_session_secret }}
Environment=WITHINGS_CLIENT_ID={{ secrets.withings_client_id }}
Environment=WITHINGS_CLIENT_SECRET={{ secrets.withings_client_secret }}
Environment=WITHINGS_CALLBACK_URL={{ secrets.withings_callback_url }}
Environment=KANSALLISGALLERIA_API_KEY={{ secrets.kansallisgalleria_api_key }}
