[Unit]
Description={{ app_name }}
After=network.target

[Service]
Type=simple
User={{ app_name }}
Group={{ app_name }}
ExecStart=/home/{{ app_name }}/web/run.sh
WorkingDirectory=/home/{{ app_name }}/web
Environment=LEMONBOT_TOKEN={{ secrets.discord_token }}
Environment=WOLFRAM_ALPHA_APPID={{ secrets.wolfram_alpha_appid }}
Environment=OPEN_WEATHER_APPID={{ secrets.open_weather_appid }}
Environment=BING_CLIENTID={{ secrets.bing.clientid }}
Environment=BING_SECRET={{ secrets.bing.secret }}
Environment=OSU_API_KEY={{ secrets.osu_api_key }}
Environment=DATABASE_NAME={{ secrets.db.dbname }}
Environment=DATABASE_USERNAME={{ secrets.db.username }}
Environment=DATABASE_PASSWORD={{ secrets.db.password }}
Environment=REDIS_HOST=localhost
Environment=REDIS_PORT={{ secrets.redis.port }}
Environment=ERROR_CHANNEL_WEBHOOK={{ secrets.error_channel_webhook }}
