- name: Configure server
  hosts: server
  remote_user: root
  become: yes
  gather_facts: no

  vars:
    app_name: lemon

  pre_tasks:
    - name: Install python on remote machine
      raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)
      changed_when: False

  tasks:
    - include: deployment_dependencies.yml

    - name: Create group
      group:
        name: "{{ app_name }}"

    - name: Create user
      user:
        name: "{{ app_name }}"

    - include: postgres.yml
    - include: redis.yml

    - name: Install required packages
      apt:
        name: "{{ item }}"
      with_items:
        - python3
        - python3-pip
        - libpq-dev
        - libxml2-dev # for lxml
        - libxslt1-dev # for lxml

    - name: Remove unneeded dependencies
      pip:
        name: "{{ item }}"
        state: absent
        executable: pip3
      with_items:
        - cleverbot

    - name: Install pip dependencies
      pip:
        name: "{{ item }}"
        executable: pip3
      with_items:
        - discord.py==0.16.6
        - requests
        - BingTranslator
        - bs4
        - wolframalpha
        - lxml
        - feedparser
        - aioredis
        - parsedatetime==2.1
        - pytz==2016.10
        - asyncpg==0.8.4

    - name: Copy source to server
      synchronize:
        src: ../src
        dest: "/home/{{ app_name }}"
        delete: yes
      notify:
        - restart services

    - name: Create services
      template:
        src: "templates/{{ item.template }}.service.j2"
        dest: "/etc/systemd/system/{{ item.service }}.service"
      with_items:
        - template: systemd
          service: "{{ app_name }}"
        - template: archiver
          service: "{{ app_name }}-archiver"
      notify:
        - reload unit files
        - restart services

    - name: enable and start service
      service:
        name: "{{ app_name }}"
        state: started
        enabled: yes

    - include: nodejs.yml
    - include: web.yml

  handlers:
    - name: reload unit files
      shell: systemctl daemon-reload

    - name: reload nginx config
      service:
        name: nginx
        state: reloaded

    - name: restart services
      service:
        name: "{{ item }}"
        state: restarted
      with_items:
        - "{{ app_name }}"
        - "{{ app_name }}-archiver"

    - name: restart web service
      service:
        name: "{{ app_name }}-web"
        state: restarted
